.navbar {

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d3f2f2), color-stop(1, #86e0d9) );
	background:-moz-linear-gradient( center top, #d3f2f2 5%, #86e0d9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3f2f2', endColorstr='#86e0d9');
	background-color:#d3f2f2;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	display: block;
	height: 75px;
	line-height: 28px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: none;
	padding:10px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
	zoom: 1;
	text-align: center;

}

.navbar h2 {
	color: orange;
}

body {
	padding:0px;
	margin:0px;
}

#concept_menu{
	float:right;
	position: relative;
}

#concept_button {
	display: inline-block;
}

.dropdown_menu {
	background-color: orange;
	padding:10px;
	display: inline-block;
	list-style-type: none;
	position:relative;
	border-radius: 0px 10px 10px 10px; 
	-moz-border-radius: 0px 10px 10px 10px; 
	-webkit-border-radius: 0px 10px 10px 10px; 
	border: 0px solid #800000;
	margin-left: -5%;
}

#jPanelMenu-menu {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #3b3b3b;
	padding-top:50px;
	padding-bottom:50px;

}

#jPanelMenu-menu h5 {
	text-align: center;
	color: orange;
}

#jPanelMenu-menu a:hover {
	list-style-type: none;
	text-decoration: none;
}

#jPanelMenu-menu li {
	list-style-type: none;
	text-decoration: none;
	padding:10px;
	margin-left:0px;
	display: list-item;
	line-height:2em;
	color: white;
}

#jPanelMenu-menu li:hover {
	background-color: gray;
}

.jPanelMenu-panel {
}
#menu {
	display: inline-block;
	list-style-type: none;
	padding-right:20px;
}

#menu li {
	width:100%;
	background-color: orange;
	text-align: left;
	color: white;

}

#hw_button {
	display: inline-block;
	position:relative;
	z-index: 100000;
	-moz-box-shadow:inset 0px 2px 0px -14px #fce2c1;
	-webkit-box-shadow:inset 0px 2px 0px -14px #fce2c1;
	box-shadow:inset 0px 2px 0px -14px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #f0b754;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;

	position: absolute;
	top: 30px;
	left: 30px;

}
#hw_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
	} #hw_button:active {
		top:31px;
	}

#menu {
	display: none;
}
.deck-container {
	position: absolute;
	padding-right: 100px;
	width: 100%;
	
}

.deck-wrapper {
	width:100%;
}


